.products_list_view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // position: absolute;
  // height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
}
