.page {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page_view {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  min-height: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;

  @media screen and (width < 620px) {
    flex-direction: column;
  }
}

.main_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  display: block;
  box-shadow: 1px 1px 5px grey;
  border-radius: 10px;
  object-fit: scale-down;
  max-width: 300px;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;

  @media screen and (width < 620px) {
    align-self: center;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.brand {
  font-weight: bold;
  color: rgb(75, 75, 75);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.category {
  text-transform: capitalize;

  span {
    font-style: italic;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.tags {
  span {
    font-style: italic;
    text-transform: capitalize;

    .hover {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &:before {
      content: " ";
    }

    &:not(:last-child):after {
      content: ",";
    }
  }
}

.stock {
  span {
    font-style: italic;
  }
}

.rating {
  font-size: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px grey;
  padding: 8px;
  width: fit-content;
}

.rating_icon {
  color: orange;
  margin-left: 5px;
}

.price {
  padding: 10px;
  background-color: wheat;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;

  span {
    font-weight: bold;
    font-size: 24px;

    .italic {
      font-style: italic;
    }
  }
}

.middle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  text-align: justify;
  text-indent: 15px;
}
