.header {
  background-color: burlywood;
  width: 100%;
  height: min-content;
	box-shadow: 3px 3px 8px gainsboro;
}

.header_content {
  height: 100%;
  margin: auto;
  padding: 15px;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



