.login_page {
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0px 10px;
  height: min-content;
  box-sizing: border-box;
}

.login_body {
  box-sizing: border-box;
  margin: auto;
  background-color: gainsboro;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-size: 48px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
}

.field_container {
  width: 100%;
}

.field {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.password_checkbox {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  align-content: center;

  input {
    margin: 0px 5px;
    align-content: center;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }

    @media (hover: none) {
      &:active {
        cursor: pointer;
      }
    }
  }

  span {
    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }

    @media (hover: none) {
      &:active {
        cursor: pointer;
      }
    }
  }
}

.login_button {
  align-self: center;
  width: fit-content;
  background-color: wheat;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;

  span {
    font-size: 24px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  @media (hover: none) {
    &:active {
      cursor: pointer;
    }
  }

  &:active {
    box-shadow: 1px 1px 1px grey;
  }
}

.continue_without_login_button {
  align-self: center;

  span {
    font-size: 16px;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  @media (hover: none) {
    &:active {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
